body {
  background-color: #1434A4;
}


body::selection {
  background: #000080;
  color: #F0FFFF;
}
.top{
  position: fixed;
  right: 10px;
  bottom: 2px;
  color: #F0FFFF;
}

.top a{
  text-decoration:none;
}

.home {
  position: relative;
  height: 100vh;
}

/* .Synopsis {
  position: relative;
  top: 100vh;
  height: 100vh;
} */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 9%;
  /* position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: #333;
  border-top: .1rem solid rgba(255, 255, 255, .2);
  padding: 1rem 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
}

.navbar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.navbar ul {
  overflow: auto;
}

.navbar li {
  float: right;
  list-style: none;
  margin: 13px 20px;
}

.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.navbar ul li a:hover {
  background: #F0FFFF;
  color: #000080;
  border-radius: 0.3rem;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  align-items: center;
}

.main .abstract {
  background-color: #F0FFFF;
  color: #000080;
  flex: 1 1 40rem;
  padding: 3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  font-size: 20px;
  font-family: 'Noto Sans Mono', monospace;
}

.main .abstract h1 {
  padding: 2px;
  font-family: 'Noto Sans Mono', monospace;
  color: #000080;
  text-decoration: none;
}

.main .abstract::selection {
  background: #000080;
  color: #F0FFFF;
}

.main .picture {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
  flex: 1 1 40rem;
}

.main .picture img {
  width: 600px;
  height: 450px;
  border-radius: 0.3rem;
}

.heading {
  text-align: center;
  padding: 2.5rem 0
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #F0FFFF;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2px;
  align-items: center;
}

.flex-container .flex-item {
  border: 2px solid black;
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 1rem;
  text-align: justify;
  background-color: #F0FFFF;
  color: #000080;
  font-family: 'Noto Sans Mono', monospace;
  border-radius: .5rem;
}

h4 {
  text-align: center;
  font-size: 1.5rem;
  color: #000080;
  font-family: 'Nunito', sans-serif;
}

.synopsis .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.Methodology .box-container {
  /* background-color: #F0FFFF; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: .5rem;
}

.Methodology .box-container .box {
  background-color: white;
  margin: 20px;
  position: relative;
  height: 220px;
  width: 310px;
  padding: 2px;
  text-align: justify;
  border-radius: .5rem;
  justify-content: center;
  border-radius: .5rem;
}

.Methodology .box-container .box img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6) object-fit: cover;
  border-radius: .5rem;
}

.Methodology .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .7);
  color: white;
  font-family: 'Noto Sans Mono', monospace;
  display: flex;
  flex-direction: column;
  /* padding: 2rem;
  padding-top: 5rem; */
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
}

.Methodology .box-container .box .content:hover {
  opacity: 1;
}

/* h3 {
  font-size: 2.5rem;
  color: #000080;
} */
.algo {
  display: flex;
  justify-content: center;
}

.Algorithm p {
  display: flex;
  height: auto;
  width: 700px;
  padding: 2.5rem;
  text-align: justify;
  background-color: #F0FFFF;
  color: #000080;
  font-family: 'Noto Sans Mono', monospace;
  border-radius: .5rem;
  justify-content: center;
}

.flow {
  display: flex;
  justify-content: center;
}

.Flowchart .image {
  height: auto;
  background-color: #F0FFFF;
  width: 1000px;
  padding: 1px;
  border-radius: .5rem;
  justify-content: center;
}

.flow .image img {
  width: 900px;
  padding: 2px;
  border-radius: .5rem;
}

.func {
  display: flex;
  justify-content: center;
}

.Functions table {
  height: auto;
  width: 700px;
  padding: 2.5rem;
  text-align: justify;
  background-color: #F0FFFF;
  color: #000080;
  font-family: 'Noto Sans Mono', monospace;
  border-radius: .5rem;
  justify-content: center;
}

td {
  padding: 5px;
  height: 20px;
}

.Functions table, th, td {
  border: 1px solid #000080;
  border-collapse: collapse;
}

.Hardware .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Hardware .box-container .box {
  margin: 15px;
  position: relative;
  height: 250px;
  width: 360px;
  padding: 2px;
  text-align: justify;
  border-radius: .5rem;
  justify-content: center;
  border: 1px solid black;
}

.Hardware .box-container .box img {
  border-radius: .5rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6) object-fit: cover;
}

.Hardware .box-container .box .content {
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .7);
  color: white;
  font-family: 'Noto Sans Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
}

.Hardware .box-container .box .content:hover {
  opacity: 1;
}

td, th {
  padding: 5px;
  height: 20px;
}

.Hardware table, th, td {
  border: 1px solid #000080;
  border-collapse: collapse;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2px;
  align-items: center;
}

.image-container .image {
  margin: 5px;
  width: 400px;
  height: auto;
  padding: 1rem;
  background-color: #F0FFFF;
  border-radius: .5rem;
}

.image-container .image img {
  width: 380px;
  height: 380px;
  padding: 1rem;
}
